@charset "UTF-8";
/* CSS Document */

/* Sidebar */
#content .sidebar {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	float: left;
	width: 20%;
	padding-left: .5%;
	padding-right: .5%;
	text-align: left;
	background-color: rgba(246,246,246,1.00);
	padding-top: 36px;
	height: 784px;
}
/*menubar's properties for menus in sidebar */
#content .sidebar #menubar {
	color: rgba(146,146,146,1.00);
	position: relative;
}
/* Search field in sidebar */
#content .sidebar #search {
	width: 98%;
	border-radius: 0px;
	height: 42px;
	text-align: center;
	color: rgba(208,207,207,1.00);
	font-size: 14px;
	margin-bottom: 21px;
}
/*menu elements */
.menu {
	text-align: left;
}
.menu ul {
	text-align: left;
}
.menu ul li {
	list-style-type: none;
	font-size: x-large;
	padding-top: 12px;
}
/*Links in sidebar */
.sidebar #menubar .menu ul li a {
	color: rgba(146,146,146,1.00);
	text-decoration: none;
}
.sidebar #menubar .menu ul li a:hover {
	color: rgba(107,97,97,1.00);
	text-decoration: none;
}
/* Menu headings in sidebar */
#menubar .menu h2 {
	font-size: 14px;
}
/*Links under menus in sidebar */
#menubar .menu ul li a {
	font-size: 14px;
}
/* Menus in sidebar */
.sidebar #menubar .menu {
	margin-bottom: 29px;
}